
output/string.exe
# Archivos binarios / ejecutables
*.exe
*.out
*.app
*.dll
*.so
*.dylib
*.o

# Carpetas de compilación
build/
bin/
output/
debug/

# Archivos de configuración local o IDEs
*.json
*.user
*.suo
*.log

# Archivos temporales
**/ejecutables/
*.tmp
*.temp
*.obj
*.o

# Archivos generados por compiladores
*.ilk
*.pdb
*.idb

# Archivos de sistema de Windows
Thumbs.db
.DS_Store
