# ----------------------------
# IDE / Editor
# ----------------------------
.venv/
.venv311/
.vscode/
.idea/
*.suo
*.user
*.sln
*.code-workspace

# ----------------------------
# Sistema
# ----------------------------
.DS_Store
Thumbs.db
desktop.ini
*.swp
*~

# ----------------------------
# C / C++
# ----------------------------
*.exe
*.out
*.app
*.dll
*.so
*.dylib
*.o
*.obj
*.bin
*.ilk
*.pdb
*.idb

build/
bin/
output/
debug/
**/ejecutables/

# ----------------------------
# Java
# ----------------------------
*.class
*.jar
*.war
*.ear
*.jmod
target/

# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.env311/
venv/
.venv/

# ----------------------------
# Node / Frontend
# ----------------------------
node_modules/
npm-debug.log*
yarn-error.log*
dist/
coverage/
*.tsbuildinfo

# ----------------------------
# Logs / Temporales
# ----------------------------
*.log
*.tmp
*.temp
*.bak
*.lock
*.png
*.img
# ----------------------------
# Variables de entorno
# ----------------------------
.env
.env.local
